node_modules/
.wwebjs_cache/
.wwebjs_auth/
session/

# Env files
.env*
!.env.example
*.env.local
*.env.test
*.env.development
*.env.production

# Build & coverage
coverage/
dist/
build/
tmp/
temp/

# Process & cache files
pids/
*.pid
*.pid.lock
.eslintcache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors & IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db